.nav-link {
  cursor: pointer;
  transition: 0.3s;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.active-link {
  color: #0d6efd !important;
  font-weight: bold;
}

/* dropdown fix */
.dropdown-menu {
  border-radius: 10px;
}